html {
  height: 100%;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom right, rgb(58, 56, 56), rgb(247, 119, 0));
  display: flex;
  flex-wrap: wrap;
  
}

img{
  width: 400px;
  height: 250px;
  border: 5px solid;
   border-color: rgb(247, 119, 0);
   position: flex;
   padding: 5px;
   
} 

aboutImg{
  width: 300px;
  height: 300px;
}

p{
  width: 500px; 
  padding: 15px; 
  background-color: black;
  color:  rgb(247, 119, 0);
  border: 20px;
  border-color: #555;
  margin: 10px;

}

/*social media icons*/
.fa {
    padding: 20px;
    font-size: 100px;
    width:100px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(247, 119, 0);
  }

.navbar{
  background-color: black;
  overflow: hidden;
}

.navbar a{
  float: left;
  color:coral;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover{
  background-color: rgb(5, 6, 12);
  color: orange;
}

.navbar a.active{
  background-color: rgba(129, 119, 119, 0.966);
  color: yellow;
}

.contactI{
  color: rgb(247, 119, 0);
}
/*contact me page */
input[type=text], select, textarea {
  width: 100px;
  padding: 12px;
  border: 1px solid rgb(235, 13, 13);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 12px;
  margin-bottom: 12px;
  resize: vertical; 
}

input[type=submit] {
  background-color:rgb(5, 6, 12);
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(243, 221, 23);
}

.container {
  border-radius: 30px;
  background-color: slategrey;
  padding: 40px;
}



